<div id="wrapper" class="toggled">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        Annotation tools
      </li>
      <li>
        <button type="button" class="btn btn-light" (click)="Draw()">Draw</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-light" (click)="Save()">Save </button> &nbsp;&nbsp;
      </li>
      &nbsp; &nbsp;&nbsp;&nbsp;
      <li>
        <button type="button" class="btn btn-light" (click)="Undo()">Undo</button> &nbsp; &nbsp;
        <button type="button" class="btn btn-light" (click)="Redo()"> Redo </button>&nbsp;
      </li>
    </ul>
    <div style="padding-top: 20%; text-align: center; ">
      <button type="button" class="btn btn-light" (click)="Redo()"> Save image </button>&nbsp;
    </div>
  </div>


<div>
  <app-ac-image-annotator></app-ac-image-annotator>
</div>

