<div class="page">
    <h1>Toutes les vidéos</h1>
    <div class="list-video-legend">
        <span>
            <div id="annote-color" class="list-video-legend-block"></div> Annotée
        </span>
        <span>
            <div id="partiellement-annote-color" class="list-video-legend-block"></div> Partiellement annotée
        </span>
        <span>
            <div id="segmente-color" class="list-video-legend-block"></div> Segmentée
        </span>
        <span>
            <div id="enregistre-color" class="list-video-legend-block"></div> Enregistrée
        </span>
    </div>
    <div class="table">
        <div class="table-head">
            <table>
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Date</th>
                        <th>Annotée par</th>
                        <th>Etat</th>
                        <th>Score PCI</th>
                        <th>Progression</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="table-body js-pscroll">
            <table>
                <tbody>
                    <tr *ngFor="let video of videos">
                        <td>{{video.title}}</td>
                        <td>{{video.date | date:'dd/MM/yyyy'}}</td>
                        <td>{{video.annotate_by}}</td>
                        <td>{{video.state}}</td>
                        <td>{{video.score_pci}}/39</td>
                        <td>Progression</td>
                        <td><button class="button-action w-half m-auto my-1"
                                (click)="segmentate(video.id)">Segmenter</button>
                            <button class="button-action w-half m-auto my-1"
                                (click)="annotate(video.id)">Annoter</button>
                            <button class="button-action w-half m-auto my-1"
                                (click)="deleteVideo(video.id)">Supprimer</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="center-wrapper">
        <input type='file' id="input-ajouter-video" placeholder="Ajouter une
            vidéo" /><br />
        <button id="btn-ajouter-video" (click)="addVideo()"><img src="assets/img/iconAdd.png" width=16 height=16 />
            Ajouter une
            vidéo</button>
    </div>
</div>