<div class="flex w-full">
    <div class="w-2 flex flex-column">
        <div class="py-1">
            <span class="redirection">Retour à la liste des vidéos</span>
        </div>
        <div class="w-full">
            Vidéo
        </div>
        <div>
            Button + Barre avancement
        </div>
        <hr width="90%">
        <div class="flex flex-row">
            <div class="flex flex-column">
                <div class="py-1">
                    <label for="nom-image">Nom :</label>
                    <input id="nom-image" type="text">
                </div>
                <div class="py-1">
                    <label for="zone-image">Zone :</label>
                    <select name="zone-image" id="zone-image"></select>
                </div>
                <div class="py-1">
                    <span>Timer :</span>
                    <span>00:12:152</span>
                </div>
            </div>
            <div>
                <span class="button-rouge">Supprimer la capture</span>
            </div>
        </div>
    </div>
    <div class="w-1 flex flex-column">
        <span class="bold titre-rubrique">Image sélectionnées</span>
        <div class="py-1">
            <div class="overflow-y w-full h-half align-center images">
                <div class="block-image flex flex-column">
                    <img class="thumbnail" src="../../../assets/tsconfig.app.jpg" alt="">
                    <span class="description-image">Image 1</span>
                </div>
                <div class="block-image flex flex-column">
                    <img class="thumbnail" src="../../../assets/tsconfig.app.jpg" alt="">
                    <span class="description-image">Image 1</span>
                </div>
                <div class="block-image flex flex-column">
                    <img class="thumbnail" src="../../../assets/tsconfig.app.jpg" alt="">
                    <span class="description-image">Image 1</span>
                </div> 
                <div class="block-image flex flex-column">
                    <img class="thumbnail" src="../../../assets/tsconfig.app.jpg" alt="">
                    <span class="description-image">Image 1</span>
                </div> 
                <div class="block-image flex flex-column">
                    <img class="thumbnail" src="../../../assets/tsconfig.app.jpg" alt="">
                    <span class="description-image">Image 1</span>
                </div>            
            </div>
        </div>
        
        <span class="button-gris w-half m-auto my-1">Finir la segmentation</span>
    </div>
</div>
