<div class="flex w-full">
    <div class="w-2 flex flex-column">
        <div class="py-1">
            <span class="redirection">Retour à la liste des vidéos</span>
        </div>
        <div class="w-full">
            Vidéo
        </div>
        <div>
            Button + Barre avancement
        </div>
        <hr width="90%">
        <app-form-image-information [currentImage]="currentImage" (eventDeleteImage)="deleteCurrentImage()"></app-form-image-information>
    </div>
    <div class="w-1 flex flex-column">
        <app-list-image [images]="images" (eventSelectedImage)="changeCurrentImage($event)"></app-list-image>
        <span class="button-gris w-half m-auto my-1">Finir la segmentation</span>
    </div>
</div>
