<div class="flex w-full">
    <div class="w-2 flex flex-column mx-1">
        <div class="pb-1">
            <span class="bold titre-rubrique">Segmentation</span>
        </div>
        <app-video-visualisation *ngIf="video" [video]="video" (eventCreateImage)="addImageToList($event)"></app-video-visualisation>
        <hr width="90%">
        <app-form-image-information [currentImage]="currentImage" (eventDeleteImage)="deleteCurrentImage()"></app-form-image-information>
    </div>
    <div class="w-1 flex flex-column mx-1">
        <app-list-image [images]="images" [currentImage]="currentImage" (eventSelectedImage)="changeCurrentImage($event)"></app-list-image>
        <button [routerLink]="['/']" routerLinkActive="router-link-active" class="button-gris w-half m-auto my-1">Finir la segmentation</button>
    </div>
</div>
