<!-- <div id="wrapper" class="toggled"> -->
    <!-- <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                Annotation tools
            </li>
            <li>
                <button type="button" class="btn btn-light">Polygon</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-light">Square </button> &nbsp;&nbsp;
                <button type="button" class="btn btn-light">Circle</button> &nbsp;
                &nbsp;&nbsp;&nbsp;
            </li>
            &nbsp; &nbsp;&nbsp;&nbsp;
            <li>
                <button type="button" class="btn btn-light"> <i class="fas fa-search-plus"></i>+</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-light"> <i class="fas fa-search-minus">-</i>
                </button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-light"> <i class="fas fa-mouse-pointer">Pointer</i> </button>
            </li>
        </ul>
    </div> -->

    <!-- <div id="page-content-wrapper">
        <div class="container-fluid" style="margin: 0; padding: 0;">
            <canvas #canvas></canvas>
        </div>
    </div>
</div> -->
<canvas #canvas></canvas>
<button id="redo" (click)="redoAction()">Redo</button>
<button id="undo" (click)="undoAction()">Undo</button>
<button id="save" (click)="saveCanvas()">Save</button>
<button id="draw" (click)="drawCanvas()">Draw</button>

